<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Jembi Health Systems</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->
	
	<!-- Required Modules -->
	<require_modules>																											
		<require_module version="0.1">
			org.openmrs.module.addresshierarchy
		</require_module>		
	</require_modules>
	<!-- / Required Modules -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.JembiRegistrationActivator</activator>
	
	<!-- Global Properties -->
	<globalProperty>
		<property>${project.parent.artifactId}.LabelPrintCount</property>
		<defaultValue>1</defaultValue>
		<description>
			Number of copies of a patient's registration label to print.
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>${project.parent.artifactId}.LabelIdType</property>
		<defaultValue>0</defaultValue>
		<description>
			Set the Patient Idenifier Type that should be printed as a barcode. 0 uses the Preferred Patient Id.
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>${project.parent.artifactId}.PrinterName</property>
		<defaultValue>TextBarCodePrinter</defaultValue>
		<description>
			Set the name of the Zebra Barcode Printer using Generic/Text drivers.
		</description>
	</globalProperty>

	<!-- Add print barcode button to top of patient dashboard -->
	<extension>
		<point>org.openmrs.patientDashboard.afterLastEncounter</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.BarcodeExt</class>
	</extension>

	<!-- Create separate search and registration pages -->
	<extension>
    	<point>org.openmrs.gutter.tools</point>
    	<class>org.openmrs.module.jembiregistration.extension.html.RegisterPatientGutterListExt</class>
	</extension>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>pt</lang>
		<file>messages_pt.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<!-- Register the printing servlet -->
	<servlet>
  	   <servlet-name>printBarcodeServlet</servlet-name>
 	   <servlet-class>org.openmrs.module.jembiregistration.web.servlet.PrintBarcodeServlet</servlet-class>
	</servlet>   
</module>

